:root {
  --border-curve: 25px;
  --cell-size: 0px;
  --cell-animate-in: undefined;
  --cell-animate-out: undefined;
  --cell-color: black;
  --cell-hover-color: dimgrey;
  --content-area-width: 120vw; /*Initial value on site load only*/
  --content-area-height: "";
  --font-color-main: white;
  --font-color-second: black;
  --greyscale-color: linear-gradient(to bottom right, white 20%, black, dimgrey, lightgrey, grey, black, lightgrey, darkgrey, dimgrey, lightgrey, black 80%);
  --grid-color: none;
  --grid-line-type: none;
  --icon-color: rgba(0, 0, 0, 0);
  --icon-hover-color: rgba(105, 150, 219);
  --icon-selected-color: rgba(255, 0, 255);
  --leading-line-color: rgba(105, 150, 219);
  --panel-background-color: rgba(105, 150, 219, 0.65);
  --rainbow-color: linear-gradient(to bottom right, red 20%, orange, yellow, green, blue, indigo, violet 80%);
  --trail-line-one-color: rgba(52, 75, 110);
  --trail-line-two-color: rgba(26, 37, 55);
}

@font-face {
  font-family: 'Audiowide';
  src: url('./font/Audiowide-Regular.ttf') format('truetype');
}

/* Cell animations */
@keyframes cell-hover-in {
  from {background: var(--cell-color); }
  to {background: var(--cell-hover-color);}
}

@keyframes cell-hover-out {
  from {background: var(--cell-hover-color);}
  to {background: var(--cell-color);}
}

/* Icon animations */
@keyframes icon-hover-in {
  from {transform: scale(0);}
  to {transform: scale(1.1);}
}

@keyframes icon-hover-out {
  from {transform: scale(1.1);}
  to {transform: scale(0);}
}

/* UI scaling animations */
@keyframes scale-in {
  from {transform: scale(1);}
  to {transform: scale(1.051);}
}

@keyframes scale-out {
  from {transform: scale(1.05);}
  to {transform: scale(1);}
}

/* Background rotation animation */
@keyframes rotate-background {
  0% {transform: translate(-50%, -50%) rotate(0deg)};
  100% {transform: translate(-50%, -50%) rotate(360deg);}
}

.selectable {
  cursor: pointer;
}

body {
  background: #121929;
  margin: 0;
  height: 100vh;
  color: var(--font-color-main);
  font-family: 'Audiowide', Arial, Helvetica, sans-serif;
}

.background {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: var(--content-area-width);
  height: var(--content-area-height);
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: rotate-background 500s linear infinite;
}

a {
  color: var(--font-color-second);
}

header {
  background: var(--panel-background-color);
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  padding: 3px 0;
  z-index: 100;
}

h1 {
  margin: 5px;
  text-align: center;
}

h2 {
  margin: 0;
  text-align: center;
}

/* Cells */
.content {
  position: fixed;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cells-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cells-container .row {
  display: flex;
  justify-content: center;
}

.cells-container .cell {
  box-sizing: border-box;
  border: none;
  background: var(--cell-color);
  width: var(--cell-size);
  height: var(--cell-size);
}

.cells-container .cell:not(.disable-hover) {
  animation: var(--cell-animate-out) 1s;
}

.cells-container .cell {
  border: 1px var(--grid-color) var(--grid-line-type);
}

.cells-container .cell:not(.disable-hover):hover {
  animation: var(--cell-animate-in) 0.1s forwards;
}

.cells-container .row .leading-line {
  background: var(--leading-line-color);
}

.cells-container .row .trail-line-one {
  background: var(--trail-line-one-color);
}

.cells-container .row .trail-line-two {
  background: var(--trail-line-two-color);
}

/* Panels */
.controls {
  background: var(--panel-background-color);
  border-radius: var(--border-curve);
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls > * {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}

.tool-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-options > * {
  width: 100%;
}

#draw-tools {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#draw-tools .preset-colors {
  display: flex;
  flex: 1 1 20%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#draw-tools .mouse-selectors {
  flex: 1 1 auto;
}

#draw-tools .mouse-selectors > * {
  text-align: center;
  max-width: 80%;
  margin: auto;
  font-size: 1cqw;
}

/* Color pickers */
.color-picker {
  padding: 0;
  appearance: none;
  border-radius: 100%;
  box-shadow: var(--icon-hover-color) 0px 0px 5px 5px;
  animation: scale-out 0.1s;
}
.color-picker:hover {
  animation: scale-in 0.1s forwards;
}

.hidden-picker {
  display: none;
  margin: auto;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
::-webkit-color-swatch,
::-moz-color-swatch {
  border-color: transparent;
}

/* Colour selectors for the drawing tool in the left panel */
#draw-tools .small-picker {
  aspect-ratio: 1 / 1;
  flex: 1 1 auto;
}

#draw-tools .preset-colors #default-color {
  background: linear-gradient(to bottom right, white 45%, dimgrey 55%);
}
#draw-tools .preset-colors #rainbow-color {
  background-image: var(--rainbow-color);
}
#draw-tools .preset-colors #greyscale-color {
  background: var(--greyscale-color);
}
#draw-tools .preset-colors #custom-color {
  background-image: linear-gradient(to bottom right, white 45%, red, white 55%);
}

#draw-tools .large-picker {
  aspect-ratio: 1 / 1;
  width: 90%;
  height: auto;
}

#draw-tools #left-mouse-color .color-picker {
  margin-bottom: 10px;
}

/* Tool selection icons in the left panel */
.tool-selection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
  flex-wrap: wrap;
}

@media only screen and (min-width: 1600px) {
  .tool-selection > div {
    flex-basis: 20%;
  }
}

@media only screen and (max-width: 1599px) {
  .tool-selection > div {
    flex-basis: 40%;
  }
}

.tool-selection > div {
  position: relative;
}

.tool-selection img {
  width: 100%;
  height: auto;
}

/* Icons */
.icon, .icon ~ .icon-hover {
  animation: scale-out 0.1s;
}

.icon:hover, .icon:hover ~ .icon-hover {
  animation: scale-in 0.1s forwards;
}

.icon ~ .icon-hover {
  animation: icon-hover-out 0.1s forwards;
}

.icon:hover ~ .icon-hover {
  animation: icon-hover-in 0.1s forwards;
}

.icon-hover {
  background-color: var(--icon-hover-color);
  box-shadow: 0 0 10px 10px var(--icon-hover-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.selected {
  background-color: var(--icon-selected-color);
  box-shadow: 0 0 10px 10px var(--icon-selected-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

 /* Right panel positioning */
 .canvas .canvas-options {
  display: flex;
  gap: 5px;
  flex-direction: column;
  flex: 1 1 30%;
  text-align: center;
  align-self: stretch;
}

.canvas .canvas-options pre {
  margin: 0;
  font-family: 'Audiowide';
}

.canvas .canvas-options input, .canvas .canvas-size {
  margin: auto;
}

/* Undo and Redo icons */
#history {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#history > * {
  position: relative;
}

#history .history-button {
  height: 50px;
  width: auto;
}

/* Canvas settings */
.canvas {
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  width: 100%;
}

/* Slider */
.canvas .canvas-size {
  width: 100%;
  display: inline-block;
  position: relative;
}

.canvas .canvas-size .info-total-cells {
  display: inline-block;
  position: absolute;
  right: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  background: white;
  border-radius: 16px;
}

input[type="range"]::-moz-range-track {
  height: 15px;
  background: white;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid var(--icon-hover-color);
  box-shadow: -407px 0 0 400px var(--icon-hover-color);
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid var(--icon-hover-color);
  box-shadow: -407px 0 0 400px var(--icon-hover-color);
}

.canvas input[id="grid-slider"] {
  margin-top: 5px;
}

.canvas #grid-slider::-webkit-slider-thumb {
  background: var(--icon-hover-color);
 }

/* Checkbox */
.canvas input[type="checkbox"] {
  aspect-ratio: 1 / 1;
  width: 20px;
  appearance: none;
  background-color: white;
  font: inherit;
  color: currentColor;
  border: 2px solid currentColor;
  border-radius: 5px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.canvas input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 18px 18px var(--icon-hover-color);
}

.canvas input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* Drop down menu */
.canvas select {
  width: 100%;
  position: relative;
  appearance: none;
  font-size: 0.7cqw;
  background-color: #fff;
  border: 1px solid white;
  border-radius: 0.25rem;
  font-family: inherit;
  color: var(--font-color-second);
  background-image: url(./imgs/menu-expand.png);
  background-repeat:  no-repeat;
  background-size: 7px 7px;
  background-position: calc(100% - 7px) calc(50% + 1px);
  margin: auto;

}

.canvas input[type="color"] {
  aspect-ratio: 1 / 1;
  width: auto;
}

/* Buttons */
.settings-buttons {
  text-align: center;
}

.settings-buttons button {
  animation: scale-out 0.1s;
}

.settings-buttons button:hover {
  animation: scale-in 0.1s forwards;
  background-color: var(--icon-hover-color);
  box-shadow: var(--icon-hover-color) 0px 0px 5px 5px;
}

.settings-buttons button {
  background: rgba(255,255,255,0.15);
  border: solid white 2px;
  border-radius: 10px;
  font-family: Audiowide;
  color: white;
  padding: 7px;
  font-size: 14px;
  cursor: pointer;
  margin: 5px 0;
}

footer {
  background: var(--panel-background-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

footer > * {
  margin: 0 30px;
}