@font-face {
  font-family: 'Audiowide';
  src: url('./font/Audiowide-Regular.ttf') format('truetype');
}

:root {
  --content-area-width: 120vw; /*Initial value on site load only*/
  --content-area-height: "";
  /*--cell-container-height: "";
  --cell-container-width: "";*/
  --main-font-color: white;
  --second-font-color: black;
  --panel-background-color: rgba(105, 150, 219, 0.5);
  --border-curve: 25px;
  --cell-size: 0px;
  --cell-color: black;
}

body {
  margin: 0;
  height: 100vh;
  color: var(--main-font-color);
  font-family: 'Audiowide', Arial, Helvetica, sans-serif;
}

.background {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: var(--content-area-width);
  height: var(--content-area-height);
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  color: var(--second-font-color);
}

header {
  background: var(--panel-background-color);
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  padding: 3px 0;
}

h1 {
  margin: 5px;
  text-align: center;
}

.content {
  position: fixed;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.cells-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*
  height: var(--cell-container-height);
  width: var(--cell-container-width);
  */
}

.cell {
  box-sizing: border-box;
  border: none;
  background: var(--cell-color);
  width: var(--cell-size);
  height: var(--cell-size);
}

.controls {
  background: var(--panel-background-color);
  border-radius: var(--border-curve);
  width: 15vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background: var(--panel-background-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

footer > * {
  margin: 0 30px;
}





.cells-container .row .leading-line {
  background: rgba(105, 150, 219);
}

.cells-container .row .trail-line-one {
  background: rgba(52, 75, 110);
}

.cells-container .row .trail-line-two {
  background: rgba(26, 37, 55);
}